<p id="notice">
  <%=notice %>
</p>

<h1>所有图书列表</h1>

<html>

<style type="text/css">
  p {
    font-size: 34px;
  }
  table,td,th {
    border: 1px solid  black;
  }
  table {
    width: 100%;
  }
  
  th {
    height: 50px;
    width: 70px;
    color: green;
  }
  
  td {
    height: 50px;
    width: 70px;
    font-size: 14px;
    color: red;
  }
</style>

<body>
  <% @books.each do |book| %>
  <div class="list-group">
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">
         <<<%=book.bookname %>>>的详细信息
      </h4>
      </a>
      <a href="#" class="list-group-item">
        <table  class="table">
         <th>书名</th> 
         <th>作者</th>
         <th>出版社</th> 
         <th>ISBN</th> 
         <th>状态</th>
         <th>分类</th> 
         <th>操作1</th> 
         <th>操作2</th>
         <th>操作3</th> 
          <tbody>
        <td><%= book.bookname %></td>
        <td><%= book.author %></td>
        <td><%= book.press %></td>
        <td><%= book.isbn %></td>
        <td><%= book.status %></td>
        <td><%= book.type %></td>
          <td>
        <%=link_to '显 示   ', book %>
          </td>
          <td>
        <%=link_to '编 辑   ', edit_book_path(book) %>
          </td>
          <td>
        <%=link_to '删 除   ', book, method: :delete, data: { confirm: '图书交换系统提示：您真的确认么？' } %>
          </td>
		</tbody>
</table> 
</a>
<% end %>
  <%= link_to '发布新的图书',new_book_path,class: "btn btn-primary" %>
</body>
</html>



